@media (min-width: 415.1px) {
  .site_list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 415px) {
  .site_list_item:not(:last-child) {
    margin-bottom: 10vw;
  }
  .site_list_item .effect-area {
    display: none;
  }
}
@media (min-width: 415.1px) and (max-width: 700px) {
  .site_list_item {
    width: 47%;
    margin-right: 6%;
  }
  .site_list_item:nth-child(2n) {
    margin-right: 0;
  }
  .site_list_item:nth-child(n+3) {
    margin-top: 6%;
  }
}
@media (min-width: 700.1px) and (max-width: 1000px) {
  .site_list_item {
    width: 31%;
    margin-right: 3.5%;
  }
  .site_list_item:nth-child(3n) {
    margin-right: 0;
  }
  .site_list_item:nth-child(n+4) {
    margin-top: 3.5%;
  }
}
@media (min-width: 1000.1px) {
  .site_list_item:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 1000.1px) and (max-width: 1300px) {
  .site_list_item {
    width: 22%;
    margin-right: 4%;
  }
}
@media (min-width: 1300.1px) {
  .site_list_item {
    width: 276px;
    margin-right: 32px;
  }
}
@media (min-width: 1000.1px) and (max-width: 1300px) {
  .site_list_item:nth-child(n+5) {
    margin-top: 4%;
  }
}
@media (min-width: 1300.1px) {
  .site_list_item:nth-child(n+5) {
    margin-top: 40px;
  }
}
@media (min-width: 415.1px) {
  .site_list_item.transit-item {
    position: relative;
    z-index: 1;
  }
  .site_list_item.transit-item .site_list_inner {
    opacity: 0;
    transition: opacity 1s 0.5s;
  }
  .site_list_item.transit-item .effect-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s 0s;
  }
  .site_list_item.transit-item .effect-area::before, .site_list_item.transit-item .effect-area::after {
    content: "";
    position: absolute;
    border: solid #fff;
  }
  .site_list_item.transit-item .effect-area::before {
    left: 0;
    right: 100%;
    top: 0;
    bottom: 100%;
    border-width: 1px 1px 0 0;
    transition: right 0.1s 0s, bottom 0.1s 0.1s;
  }
  .site_list_item.transit-item .effect-area::after {
    left: 100%;
    right: 0;
    top: 100%;
    bottom: 0;
    border-width: 0 0 1px 1px;
    transition: left 0.1s 0.2s, top 0.1s 0.3s;
  }
}
@media (min-width: 415.1px) {
  .site_list_item.effected .site_list_inner {
    opacity: 1;
  }
  .site_list_item.effected .effect-area {
    opacity: 1;
  }
  .site_list_item.effected .effect-area::before {
    right: 0;
    bottom: 0;
  }
  .site_list_item.effected .effect-area::after {
    left: 0;
    top: 0;
  }
}
@media (max-width: 415px) {
  .site_list_item.transit-item .site_list_image {
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45), opacity 0.3s 0.5s;
  }
  .site_list_item.transit-item .site_list_image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    transition: opacity 0.5s 0.5s, top 0s 1s;
  }
  .site_list_item.transit-item .site_list_btns {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@media (max-width: 415px) {
  .site_list_item.effected .site_list_image {
    opacity: 1;
    transform: scale(1);
  }
  .site_list_item.effected .site_list_image::after {
    top: 100%;
    opacity: 0;
  }
  .site_list_item.effected .site_list_btns {
    animation: fade-m50px 0.5s 0.75s forwards;
  }
}
.site_list_inner {
  display: flex;
}
@media (min-width: 415.1px) {
  .site_list_inner {
    flex-direction: column;
    background: #14312e;
    box-shadow: 0px 0px 6px 0px #000;
  }
}
@media (min-width: 415.1px) and (max-width: 1300px) {
  .site_list_inner {
    padding: 5px 5px 10px;
  }
}
@media (min-width: 1300.1px) {
  .site_list_inner {
    padding: 8px 8px 13px;
  }
}
@media (max-width: 415px) {
  .site_list_image {
    width: 30vw;
    height: 30vw;
    margin-right: 8vw;
  }
}
@media (min-width: 415.1px) {
  .site_list_image {
    margin-bottom: 10px;
  }
}
.site_list_image a {
  display: block;
  background: #000;
  padding-top: 100%;
  position: relative;
  z-index: 1;
}
@media (any-hover: hover) {
  .site_list_image a::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 3;
  }
}
@media (any-hover: hover) and (max-width: 415px) {
  .site_list_image a::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s 0s;
  }
}
@media (any-hover: hover) and (min-width: 415.1px) {
  .site_list_image a::after {
    content: attr(href);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLW9wYWNpdHk9IjAuNyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTE4IDE0djVhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWOGMwLTEuMS45LTIgMi0yaDVNMTUgM2g2djZNMTAgMTRMMjAuMiAzLjgiLz48L2c+PC9zdmc+") no-repeat right 12px bottom 12px rgba(0, 0, 0, 0.8);
    background-size: 27px 27px;
    text-align: center;
    transform: scale(0);
    transition: all 0.3s 0s;
  }
}
@media (any-hover: hover) {
  .site_list_image a:hover::after {
    opacity: 1;
  }
}
@media (any-hover: hover) and (min-width: 415.1px) {
  .site_list_image a:hover::after {
    transform: scale(1);
  }
}
.site_list_image img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media (max-width: 415px) {
  .site_list_image img {
    box-shadow: 10px 10px 20px -5px #000;
  }
}
.site_list_btns {
  display: flex;
}
@media (max-width: 415px) {
  .site_list_btns {
    flex-direction: column;
    flex: 1;
  }
}
@media (min-width: 415.1px) {
  .site_list_btns {
    justify-content: space-between;
  }
}
@media (max-width: 415px) {
  .site_list_btns li {
    flex: 1;
  }
}
@media (min-width: 415.1px) {
  .site_list_btns li {
    width: 48%;
  }
}
.site_list_btns a {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  line-height: 1;
}
@media (max-width: 415px) {
  .site_list_btns a {
    min-height: 100%;
    padding: 0 10vw 0 4vw;
  }
}
@media (min-width: 415.1px) {
  .site_list_btns a {
    min-height: 40px;
    font-size: 1.3rem;
  }
}
@media (min-width: 415.1px) and (max-width: 896px) {
  .site_list_btns a {
    padding: 0 12px 0 6px;
  }
  .site_list_btns a .link_arrow {
    margin-right: -9px;
  }
}
@media (min-width: 896.1px) {
  .site_list_btns a {
    padding: 0 35px 0 10px;
  }
}
.site_list_btns a:before {
  content: attr(class);
}
@media (any-hover: hover) {
  .site_list_btns a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    z-index: -1;
    transition: top 0.3s 0s;
  }
}
@media (any-hover: hover) and (max-width: 415px) {
  .site_list_btns a::after {
    background: rgba(6, 170, 55, 0.75);
  }
}
@media (any-hover: hover) and (min-width: 415.1px) {
  .site_list_btns a::after {
    background: rgba(0, 0, 0, 0.75);
  }
}
@media (any-hover: hover) {
  .site_list_btns a:hover::after {
    top: 0;
  }
}

@media (min-width: 1000.1px) {
  .cms_list {
    display: flex;
    flex-wrap: wrap;
  }
}
.cms_list_item {
  position: relative;
}
@media (max-width: 375px) {
  .cms_list_item {
    padding: 0 3vw 5vw;
  }
}
@media (min-width: 375.1px) and (max-width: 600px) {
  .cms_list_item {
    padding: 0 3vw 30px;
  }
}
@media (min-width: 600.1px) {
  .cms_list_item {
    display: flex;
    justify-content: flex-end;
    min-height: 60px;
    padding: 15px;
  }
}
@media (min-width: 1000.1px) {
  .cms_list_item {
    width: 47%;
    margin-right: 6%;
  }
  .cms_list_item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 375px) {
  .cms_list_item:not(:last-child) {
    margin-bottom: 12vw;
  }
}
@media (min-width: 375.1px) and (max-width: 600px) {
  .cms_list_item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.cms_list_item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  border-bottom: 1px dashed #fff;
}
.cms_list_item.transit-item {
  opacity: 0;
  transition: all 0.5s 0s;
}
.cms_list_item.transit-item::after {
  right: 100%;
  transition: right 0.5s 0.3s;
}
@media (min-width: 600.1px) {
  .cms_list_item.transit-item {
    transform: translate(-50px, 0);
  }
}
@media (max-width: 600px) {
  .cms_list_item.transit-item {
    transform: translate(0, -50px);
  }
}
.cms_list_item.effected {
  opacity: 1;
  transform: translate(0, 0);
}
.cms_list_item.effected::after {
  right: 0;
}
@media (max-width: 375px) {
  .cms_list_title {
    margin-bottom: 7vw;
  }
}
@media (max-width: 600px) {
  .cms_list_title {
    position: relative;
    padding-left: 20px;
  }
  .cms_list_title::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
  }
}
@media (min-width: 375.1px) and (max-width: 600px) {
  .cms_list_title {
    margin-bottom: 25px;
  }
}
@media (min-width: 600.1px) {
  .cms_list_title {
    display: flex;
    align-items: center;
    flex: 1;
    min-height: 25px;
    padding-right: 20px;
    margin-bottom: 0;
  }
}
.cms_list_btns {
  display: flex;
}
@media (max-width: 600px) {
  .cms_list_btns {
    justify-content: space-between;
  }
}
@media (min-width: 600.1px) {
  .cms_list_btns {
    justify-content: flex-end;
  }
}
@media (max-width: 600px) {
  .cms_list_btns li {
    flex: 1;
  }
}
@media (max-width: 600px) {
  .cms_list_btns li:not(:last-child) {
    margin-right: 8vw;
  }
}
@media (min-width: 600.1px) {
  .cms_list_btns li:not(:last-child) {
    margin-right: 15px;
  }
}
.cms_list_btns a {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
@media (max-width: 375px) {
  .cms_list_btns a {
    min-height: 13vw;
  }
}
@media (max-width: 600px) {
  .cms_list_btns a {
    padding: 0 10vw 0 4vw;
    border: 1px solid #9f9f9f;
  }
}
@media (min-width: 375.1px) and (max-width: 600px) {
  .cms_list_btns a {
    min-height: 50px;
  }
}
@media (min-width: 600.1px) {
  .cms_list_btns a {
    padding: 0 35px 0 10px;
    background: #311414;
    box-shadow: 0px 0px 6px 0px #000;
    font-size: 1.3rem;
  }
}
@media (min-width: 600.1px) and (max-width: 1000px) {
  .cms_list_btns a {
    min-height: 36px;
  }
}
@media (min-width: 1000.1px) {
  .cms_list_btns a {
    min-height: 25px;
  }
}
.cms_list_btns a:before {
  content: attr(class);
}
@media (any-hover: hover) {
  .cms_list_btns a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    z-index: -1;
    background: rgba(255, 0, 0, 0.5);
    transition: top 0.3s 0s;
  }
}
@media (any-hover: hover) {
  .cms_list_btns a:hover::after {
    top: 0;
  }
}

@media (min-width: 1000.1px) {
  .gitHub_list {
    display: flex;
    flex-wrap: wrap;
  }
}
.gitHub_list_item {
  position: relative;
  min-height: 54px;
}
@media (min-width: 1000.1px) {
  .gitHub_list_item {
    width: 47%;
    margin-right: 6%;
  }
  .gitHub_list_item:nth-child(2n) {
    margin-right: 0;
  }
}
.gitHub_list_item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  border-bottom: 1px dashed #fff;
}
.gitHub_list_item.transit-item {
  opacity: 0;
  transition: all 0.5s 0s;
}
.gitHub_list_item.transit-item::after {
  right: 100%;
  transition: right 0.5s 0.3s;
}
@media (min-width: 600.1px) {
  .gitHub_list_item.transit-item {
    transform: translate(-50px, 0);
  }
}
@media (max-width: 600px) {
  .gitHub_list_item.transit-item {
    transform: translate(0, -50px);
  }
}
.gitHub_list_item.effected {
  opacity: 1;
  transform: translate(0, 0);
}
.gitHub_list_item.effected::after {
  right: 0;
}
.gitHub_list .site {
  text-decoration: none;
  position: relative;
  text-indent: -7px;
  min-height: 100%;
  display: block;
  z-index: 1;
}
@media (max-width: 375px) {
  .gitHub_list .site {
    padding: 4vw 3vw;
  }
}
@media (min-width: 375.1px) and (max-width: 600px) {
  .gitHub_list .site {
    padding: 20px 3vw;
  }
}
@media (min-width: 600.1px) {
  .gitHub_list .site {
    padding: 18px 15px;
  }
}
@media (any-hover: hover) {
  .gitHub_list .site::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    top: 1px;
    bottom: 0;
    background: rgba(186, 100, 17, 0.4);
    z-index: -1;
    opacity: 0;
    transition: right 0.5s 0s, opacity 0.3s 0.2s;
  }
}
@media (any-hover: hover) {
  .gitHub_list .site:hover::after {
    right: 0;
    opacity: 1;
  }
}

@media (min-width: 800.1px) {
  .other_list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 800.1px) {
  .other_list_item {
    position: relative;
    width: 47%;
    margin-right: 6%;
  }
  .other_list_item:nth-child(2n), .other_list_item:last-child {
    margin-right: 0;
  }
  .other_list_item:nth-child(n+3) {
    margin-top: 10%;
  }
}
@media (min-width: 800.1px) and (any-hover: hover) {
  .other_list_item:hover .other_list_btns {
    opacity: 1;
  }
  .other_list_item:hover .other_list_btns li {
    animation: fade-m50px 0.5s forwards;
  }
  .other_list_item:hover .other_list_btns li:nth-child(1) {
    animation-delay: 0s;
  }
  .other_list_item:hover .other_list_btns li:nth-child(2) {
    animation-delay: 0.25s;
  }
}
@media (max-width: 375px) {
  .other_list_item:not(:last-child) {
    margin-bottom: 15vw;
  }
}
@media (min-width: 375.1px) and (max-width: 800px) {
  .other_list_item:not(:last-child) {
    margin-bottom: 80px;
  }
}
.other_list_item.transit-item .other_list_image a {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
  transition: all 0.5s 0s cubic-bezier(0.29, 0.4, 0.3, 0.99);
}
.other_list_item.transit-item .other_list_image img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  filter: grayscale(100%);
  transition: all 1s 1s;
}
.other_list_item.effected .other_list_image a {
  width: 100%;
  height: 100%;
}
.other_list_item.effected .other_list_image img {
  opacity: 1;
  filter: grayscale(0);
}
@media (min-width: 800.1px) and (any-hover: hover) {
  .other_list_item.transit-item .other_list_btns {
    transform: scale(0);
    transition: transform 0s 1.5s;
  }
}
@media (min-width: 800.1px) and (any-hover: none) {
  .other_list_item.transit-item .other_list_btns li {
    opacity: 0;
    transform: translateY(-5vw);
  }
}
@media (min-width: 800.1px) and (any-hover: hover) {
  .other_list_item.effected .other_list_btns {
    transform: scale(1);
  }
}
@media (min-width: 800.1px) and (any-hover: none) {
  .other_list_item.effected .other_list_btns li {
    animation: fade-m5vw 1s 1s forwards cubic-bezier(0.29, 0.4, 0.3, 0.99);
  }
}
@media (max-width: 800px) {
  .other_list_item.transit-item .other_list_btns li {
    opacity: 0;
    transform: translateY(-5vw);
  }
}
@media (max-width: 800px) {
  .other_list_item.effected .other_list_btns li {
    animation: fade-m5vw 0.5s 1s forwards;
  }
}
.other_list_image {
  position: relative;
}
@media (max-width: 480px) {
  .other_list_image {
    margin-bottom: 5vw;
  }
}
@media (min-width: 480.1px) and (max-width: 800px) {
  .other_list_image {
    margin-bottom: 35px;
  }
}
@media (max-width: 800px) {
  .other_list_image {
    height: 47.8125vw;
  }
}
@media (min-width: 800.1px) and (any-hover: none) {
  .other_list_image {
    margin-bottom: 20px;
  }
}
@media (min-width: 800.1px) and (max-width: 900px) {
  .other_list_image {
    height: 225px;
  }
}
@media (min-width: 900.1px) and (max-width: 1000px) {
  .other_list_image {
    height: 275px;
  }
}
@media (min-width: 1000.1px) and (max-width: 1300px) {
  .other_list_image {
    height: 300px;
  }
}
@media (min-width: 1300.1px) {
  .other_list_image {
    height: 350px;
  }
}
.other_list_image a {
  display: block;
  height: 100%;
  background: #000;
}
@media (max-width: 800px) {
  .other_list_image a {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}
@media (min-width: 800.1px) {
  .other_list_image a {
    pointer-events: none;
  }
}
@media (any-hover: hover) and (max-width: 800px) {
  .other_list_image a:hover::before {
    opacity: 1;
    padding-bottom: 0vw;
  }
}
@media (max-width: 800px) {
  .other_list_image a::before, .other_list_image a::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  .other_list_image a::before {
    font-size: 7.5vw;
  }
}
@media (min-width: 480.1px) and (max-width: 800px) {
  .other_list_image a::before {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .other_list_image a::before {
    content: "preview";
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding-bottom: 20vw;
    background: rgba(0, 0, 0, 0.5);
    font-style: oblique;
    transition: padding-bottom 0.5s 0s, opacity 0.5s 0s;
  }
}
@media (max-width: 480px) {
  .other_list_image a::after {
    background-position: right 3vw bottom 3vw;
    background-size: 7vw 7vw;
  }
}
@media (min-width: 480.1px) and (max-width: 800px) {
  .other_list_image a::after {
    background-position: right 15px bottom 15px;
    background-size: 30px 30px;
  }
}
@media (max-width: 800px) {
  .other_list_image a::after {
    content: "";
    background-repeat: no-repeat;
  }
}
@media (max-width: 800px) {
  .other_list_image a.video::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHJ4PSIyLjE4IiByeT0iMi4xOCI+PC9yZWN0PjxsaW5lIHgxPSI3IiB5MT0iMiIgeDI9IjciIHkyPSIyMiI+PC9saW5lPjxsaW5lIHgxPSIxNyIgeTE9IjIiIHgyPSIxNyIgeTI9IjIyIj48L2xpbmU+PGxpbmUgeDE9IjIiIHkxPSIxMiIgeDI9IjIyIiB5Mj0iMTIiPjwvbGluZT48bGluZSB4MT0iMiIgeTE9IjciIHgyPSI3IiB5Mj0iNyI+PC9saW5lPjxsaW5lIHgxPSIyIiB5MT0iMTciIHgyPSI3IiB5Mj0iMTciPjwvbGluZT48bGluZSB4MT0iMTciIHkxPSIxNyIgeDI9IjIyIiB5Mj0iMTciPjwvbGluZT48bGluZSB4MT0iMTciIHkxPSI3IiB4Mj0iMjIiIHkyPSI3Ij48L2xpbmU+PC9zdmc+");
  }
}
@media (max-width: 800px) {
  .other_list_image a.image::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIzIiB5PSIzIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHJ4PSIyIi8+PGNpcmNsZSBjeD0iOC41IiBjeT0iOC41IiByPSIxLjUiLz48cGF0aCBkPSJNMjAuNCAxNC41TDE2IDEwIDQgMjAiLz48L3N2Zz4=");
  }
}
.other_list_image img {
  display: block;
  width: 100%;
  box-shadow: 10px 10px 20px -5px #000;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}
@media (max-width: 800px) {
  .other_list_image img {
    height: 47.8125vw;
  }
}
@media (min-width: 800.1px) and (max-width: 900px) {
  .other_list_image img {
    height: 225px;
  }
}
@media (min-width: 900.1px) and (max-width: 1000px) {
  .other_list_image img {
    height: 275px;
  }
}
@media (min-width: 1000.1px) and (max-width: 1300px) {
  .other_list_image img {
    height: 300px;
  }
}
@media (min-width: 1300.1px) {
  .other_list_image img {
    height: 350px;
  }
}
@media (min-width: 800.1px) and (any-hover: none) {
  .other_list_btns {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 800.1px) and (any-hover: hover) {
  .other_list_btns {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s 0s, transform 0s 1.5s !important;
  }
}
@media (max-width: 800px) {
  .other_list_btns li:nth-child(2) {
    display: none;
  }
}
@media (min-width: 800.1px) and (any-hover: none) {
  .other_list_btns li {
    width: 47%;
  }
}
@media (min-width: 800.1px) and (any-hover: hover) {
  .other_list_btns li {
    opacity: 0;
    width: 200px;
    transform: translateY(-50px);
  }
}
@media (max-width: 480px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 2.5vw;
  }
}
@media (min-width: 480.1px) and (max-width: 800px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (any-hover: hover) and (min-width: 800.1px) and (max-width: 1000px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (any-hover: hover) and (min-width: 1000.1px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 25px;
  }
}
.other_list_btns a {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid #9f9f9f;
  text-decoration: none;
}
@media (max-width: 375px) {
  .other_list_btns a {
    min-height: 14vw;
  }
}
@media (min-width: 375.1px) {
  .other_list_btns a {
    min-height: 50px;
  }
}
@media (min-width: 800.1px) and (any-hover: none) {
  .other_list_btns a {
    padding-right: 3px;
  }
}
.other_list_btns a::before {
  content: attr(class);
}
@media (any-hover: hover) {
  .other_list_btns a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    background: rgba(0, 90, 255, 0.5);
    transform: scale(0);
    transition: opacity 0.5s 0.2s, transform 0.5s 0s;
  }
}
@media (any-hover: hover) {
  .other_list_btns a:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

.more_btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  line-height: 1;
}
@media (max-width: 480px) {
  .more_btn {
    width: calc(100% - 20vw);
    min-height: 12vw;
    background: #1d3244;
    border-radius: 3px;
    font-size: 1.55rem;
  }
}
@media (min-width: 480.1px) {
  .more_btn {
    width: 200px;
    min-height: 50px;
  }
}
@media (min-width: 480.1px) and (any-hover: none) {
  .more_btn {
    background: #1a324a;
    box-shadow: 10px 10px 20px -5px #000;
  }
}
@media (min-width: 480.1px) and (max-width: 800px) {
  .more_btn {
    background: #1a324a;
  }
}
@media (max-width: 800px) {
  .more_btn {
    box-shadow: 10px 10px 20px -5px #000;
  }
}
@media (min-width: 800.1px) and (any-hover: hover) {
  .more_btn {
    border: 1px solid #9f9f9f;
  }
}
.more_btn::before, .more_btn::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 480px) {
  .more_btn::before, .more_btn::after {
    content: "";
  }
}
@media (min-width: 480.1px) {
  .more_btn::before, .more_btn::after {
    top: 0;
    transform: translateX(-100%);
    transition: 0.3s cubic-bezier(0.61, 1.07, 0.86, 0.99);
  }
}
.more_btn::before {
  z-index: -1;
}
@media (max-width: 480px) {
  .more_btn::before {
    top: 50%;
    background: rgba(0, 0, 0, 0.4);
  }
}
@media (any-hover: hover) and (min-width: 480.1px) {
  .more_btn::before {
    content: "";
    background: #333;
    transition-delay: 0.15s;
  }
}
@media (any-hover: hover) and (max-width: 480px) {
  .more_btn::after {
    top: 0;
    background: rgba(255, 255, 255, 0.15);
  }
}
@media (any-hover: hover) and (min-width: 480.1px) {
  .more_btn::after {
    content: "and more";
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    transition-delay: 0s;
  }
  section#about .more_btn::after {
    background: rgba(255, 0, 255, 0.5);
  }
  section#web_site .more_btn::after {
    background: rgba(0, 128, 0, 0.5);
  }
  section#cms .more_btn::after {
    background: rgba(255, 0, 0, 0.5);
  }
  section#github .more_btn::after {
    background: rgba(255, 126, 2, 0.5);
  }
  section#other .more_btn::after {
    background: rgba(0, 90, 255, 0.5);
  }
}
@media (max-width: 480px) {
  .more_btn::after {
    opacity: 0;
    transition: opacity 0.5s 0s;
  }
}
@media (any-hover: hover) and (max-width: 480px) {
  .more_btn:hover::after {
    opacity: 1;
  }
}
@media (any-hover: hover) and (min-width: 480.1px) {
  .more_btn:hover::before, .more_btn:hover::after {
    transform: translateX(0);
  }
  .more_btn:hover::before {
    transition-delay: 0s;
  }
  .more_btn:hover::after {
    transition-delay: 0.5s;
  }
}
@media (min-width: 480.1px) {
  .more_btn.disable {
    cursor: default;
    pointer-events: none;
  }
  .more_btn.disable::before, .more_btn.disable::after {
    transform: translateX(0);
  }
}

.figure-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
@media (max-width: 480px) {
  .figure-area span {
    transform: scale(0.5);
  }
}
@media (min-width: 480.1px) {
  .figure-area span {
    transform: scale(0.75);
  }
}

.link_arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
}
.link_arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 8px solid #fff;
}/*# sourceMappingURL=item.style.css.map */